<div class="content-container" ng-controller="EditShareAccountController">
    <ul class="breadcrumb">
        <li ng-show="clientName"><a href="#/viewclient/{{clientId}}"><strong>'{{clientName}}'</strong></a></li>
        <li class="active">{{'label.anchor.sharesapplication' | translate}}</li>
    </ul>
<api-validate></api-validate>
<div class="card">
    <div class="content">
        <div class="toolbar">
            <h4>{{ 'label.heading.sharesapplication' | translate }}</h4>
        </div>
        <br>
        <form class="form-inline" name="newsavingccountform" novalidate=""                      rc-submit="submit()">
        <fieldset>
        <table class="width100">
            <tr>
                <td class="width14">
                    <label>{{ 'label.input.product' | translate }}<span class="required">*</span>:&nbsp;</label>
                </td>
                <td class="width36 paddedbottom10">
                    <select class="form-control width170px" id="productId"
                            ng-change="changeProduct()" ng-model="formData.productId"
                            ng-options="product.id as product.name for product in products" required="required" value="{{product.id}}">
                        <option style="display:none" value="">{{'label.selectshareproduct' | translate}}</option>
                    </select>
                </td>
                <td class="width14">
                    <label class="control-label" ng-show="formData.productId">{{ 'label.input.submittedon' | translate
                        }}&nbsp;<span class="required">*</span></label>
                </td>
                <td class="width36 paddedbottom10">
                    <input class="form-control" datepicker-pop="dd MMMM yyyy" id="submittedOnDate" is-open="opened" max="restrictDate"
                           min="minDate" ng-model="formData.submittedDate" ng-show="formData.productId" sort
                           type="text"/>
                </td>
            </tr>
            <tr ng-show="formData.productId">
                <td class="width14">
                    <label class="control-label" ng-show="formData.productId">{{ 'label.input.externalid' | translate
                        }}</label>
                </td>
                <td class="width36 paddedbottom10">
                    <input class="form-control" id="externalId" ng-model="formData.externalId" ng-show="formData.productId"/>
                </td>
            </tr>
        </table>
        <hr data-ng-show="formData.productId"/>
        <label><strong>{{ 'label.heading.terms' | translate }}</strong></label>

        <div>
        <table class="width100">
            <tr>
                <td class="width14"><label class="control-label">{{ 'label.heading.currency' | translate }}</label>
                </td>
                <td class="width36">
                    <label><b>{{data.currency.name}}({{data.currency.displaySymbol}})</b></label>
                </td>
                <td class="width14"><label class="control-label">{{ 'label.heading.decimalplaces' | translate}}</label>
                </td>
                <td class="width36">
                    <label><b>{{data.currency.decimalPlaces}}</b></label>
                </td>
            </tr>
            <tr>
                <td class="width14">
                    <label class="control-label">{{ 'label.input.totalnumberofshares' | translate
                        }}&nbsp;<span class="required">*</span></label>
                </td>

                <td class="width36 paddedbottom10">
                    <input class="form-control" id="totalnumberofshares"
                           late-Validate
                           name="totalnumberofshares" ng-model="formData.requestedShares"
                           number-format required type="text"/>
                    <form-validate valattribute="totalnumberofshares"
                                   valattributeform="newsavingccountform"/>
                </td>
                <td class="width14">
                    <label class="control-label">{{ 'label.input.todaysprice' | translate
                        }}&nbsp;<span class="required">*</span></label>
                </td>
                <td class="width36 paddedbottom10">
                    <input class="form-control" disabled id="nominalpricevalue"
                           late-Validate
                           name="nominalpricevalue" ng-model="formData.unitPrice"
                           number-format required type="text"/>
                </td>

            </tr>
            <tr>
                <td class="width14">
                    <label class="control-label">{{ 'label.input.currencyinmultiplesof' | translate }}&nbsp;</label></td>
                </td>
                <td class="width36 paddedbottom10">
                    <input class="form-control" readonly
                           type="text" value="{{data.currency.inMultiplesOf}}"/>
                </td>
                <td class="width14">
                    <label class="control-label">{{ 'label.input.savingsaccount' | translate }}&nbsp;<span
                            class="required">*</span></label></td>
                <td class="width36 paddedbottom10">
                    <select class="form-control width170px" id="savingsAccountId"
                            ng-model="formData.savingsAccountId"
                            ng-options="savingsAccount.id as savingsAccount.accountNo for savingsAccount in data.clientSavingsAccounts" value="{{savingsAccount.id}}">
                        <option value="">{{'label.selectone' | translate}}</option>
                    </select></td>

            </tr>
            <tr>
                <td class="width14">
                    <label class="control-label">{{ 'label.input.minimumactiveperiod' | translate }}&nbsp;</label>
                </td>
                <td class="width36 paddedbottom10">
                    <div class="form-inline">
                        <input class="form-control" id="minimumActivePeriod" ng-model="formData.minimumActivePeriod"
                               type="text">&nbsp;
                        <select class="form-control width170px" id="minimumActivePeriodFrequencyType"
                                ng-model="formData.minimumActivePeriodFrequencyType"
                                ng-options="type.id as type.value for type in data.minimumActivePeriodFrequencyTypeOptions"
                                value="{{type.id}}">
                            <option value="">{{'label.selectone' | translate}}</option>
                        </select>
                    </div>
                </td>
                <td class="width14">
                    <label class="control-label">{{ 'label.input.lockinPeriodFrequency' | translate }}</label>
                </td>
                <td class="width36 paddedbottom10">
                    <div class="form-inline">
                        <input class="form-control" id="lockinPeriodFrequency" ng-model="formData.lockinPeriodFrequency"
                               type="text">&nbsp;
                        <select class="form-control width170px" id="lockinPeriodFrequencyType"
                                ng-model="formData.lockinPeriodFrequencyType"
                                ng-options="type.id as type.value for type in data.lockinPeriodFrequencyTypeOptions"
                                value="{{type.id}}">
                            <option value="">{{'label.selectone' | translate}}</option>
                        </select>
                    </div>
                </td>

            </tr>
            <tr>

                <td class="width14">
                    <label class="control-label" ng-show="formData.productId">{{ 'label.input.applicationdate' | translate
                        }}&nbsp;<span class="required">*</span></label>
                </td>
                <td class="width36 paddedbottom10">
                    <input class="form-control" datepicker-pop="dd MMMM yyyy" id="applicationdate" is-open="opened" max="restrictDate"
                           min="minDate" ng-model="formData.applicationDate" ng-show="formData.productId" sort
                           type="text"/>
                </td>

                <td class="paddedbottom10 paddedtop" colspan="2">
                    <input ng-model="formData.allowDividendCalculationForInactiveClients" type="checkbox">&nbsp;
                    <label class="control-label">{{ 'label.input.allowdividendsforinactiveclients' | translate }}&nbsp;</label>
                </td>

                <td class="width14"></td>
                <td class="width36 paddedbottom10"></td>
            </tr>

            <tr>
                <td class="width14"></td>
                <td class="width36 paddedbottom10"></td>
                <td class="width14"></td>
                <td class="width36 paddedbottom10"></td>
            </tr>

        </table>
        <hr/>
        <label class="control-label"><h4>{{ 'label.heading.charges' | translate }}</h4></label>
        <select class="form-control"
                ng-model="chargeId"
                ng-options="charge.id as charge.name for charge in chargeOptions|filter:data.currency.code:strict" value="{{charge.id}}">
            <option value="">{{'label.selectcharge' | translate}}</option>
        </select>
        <a ng-click="addCharge(chargeId)"><i class="fa fa-plus "></i></a>
                              <span ng-show="errorchargeevent">
                                <small class="error">
                                    {{'label.'+labelchargeerror | translate}}
                                </small>
                              </span>

        <table class="table width80" ng-show="charges.length>0">
            <tr class="graybg">
                <th>{{'label.heading.name' | translate}}</th>
                <th>{{'label.heading.type' | translate}}</th>
                <th>{{'label.heading.amount' | translate}}</th>
                <th>{{'label.heading.collectedon' | translate}}</th>
                <th>{{'label.heading.actions' | translate}}</th>
            </tr>
            <tr ng-repeat="charge in charges">
                <td>{{charge.name}},{{charge.currency.displaySymbol}}</td>
                <td>{{charge.chargeCalculationType.value}}</td>
                <td><input class="input-sm form-control" id="charges[{{$index}}].amount" ng-model="charge.amountOrPercentage"
                           number-format placeholder="{{'label.input.amount' | translate}}"
                           type="text"/></td>
                <td>{{charge.chargeTimeType.value}}</td>
                <td><a ng-click="deleteCharge($index)"><i class="fa fa-times "></i></a></td>
            </tr>
        </table>
        </div>
        <div class="col-md-offset-6">
            <button class="btn btn-default" id="cancel" ng-click="cancel()">{{ 'label.button.cancel' | translate }}</button>
            <button class="btn btn-primary" has-permission='CREATE_SHAREACCOUNT' id="save" type="submit">{{
                'label.button.save' | translate
                }}
            </button>
        </div>
        </fieldset>
        </form>
    </div>
</div>
</div>
