<div class="content-container" data-ng-controller="CodeController">
    <ul class="breadcrumb">
        <li><a href="#/system">{{'label.anchor.system' | translate}}</a></li>
        <li class="active">{{'label.anchor.managecodes' | translate}}</li>
    </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar"></div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <input class="form-control" ng-autofocus="true" ng-keyup="onFilter()" ng-model="filterText" placeholder="{{'label.input.filterbyname' | translate}}" type="text">
                </div>
                <div class="col-md-6">
                    <a class="btn btn-primary pull-right" has-permission='CREATE_CODE' href="#/addcode"><i class="fa fa-plus "></i>{{'label.button.addcode' | translate }}</a>
                </div>
            </div>
            <hr/>
            <table class="table">
                <thead>
                <tr class="graybg">
                    <th>{{ 'label.heading.codename' | translate }}</th>
                    <th>{{ 'label.heading.systemdefined' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr class="pointer-main" data-ng-repeat="code in codes | filter:filterText">
                    <td class="pointer" data-ng-click="routeTo(code.id)">{{code.name | translate}}</td>
                    <td class="pointer" data-ng-click="routeTo(code.id)">{{code.systemDefined}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>