<div class="content-container" ng-controller="ApproveLoanRescheduleRequestController">
    <ul class="breadcrumb">
        <li><a href="#/viewloanaccount/{{loanId}}">{{'label.anchor.viewloanaccount' | translate}}</a></li>
        <li><a class="active"
        href="#/loans/{{loanId}}/viewreschedulerequest/">{{'label.anchor.reschedulerequest' | translate}}</a></li>
    </ul>
    <div class="card">
        <div class="content">
            <form class="form-horizontal" name="approveloanrescheduleform" novalidate="" rc-submit="submit()">
                <api-validate></api-validate>
                <fieldset>
                    <legend>{{'label.heading.approveloanreschedule' | translate}}</legend>

                    <label class="control-label col-sm-2">{{'label.input.approvedOnDate' | translate}}<span class="required">*</span></label>
                    <div class="col-sm-3">
                        <input class="form-control paddedbottom10 paddedtop" datepicker-pop="dd MMMM yyyy" id="approvedOnDate" is-open="opened"
                               max="restrictDate" min="'2000-01-01'" name="approvedOnDate" ng-model="formData.approvedOnDate" type="text"/>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div style="padding-left: 100px;">
                        <button class="btn btn-default " id="cancel" ng-click="cancel()">{{ 'label.button.cancel' | translate }}</button>

                        <button class="btn btn-primary" has-permission="APPROVERESCHEDULE_LOAN" id="save" ng-click="approve()"  type="submit">
                            {{'label.button.save' | translate}}

                        </button>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>