<div class="content-container" ng-controller="AdHocQuerySearchController">
	<ul class="breadcrumb">
	    <li class="active">{{ 'label.anchor.advsearch' | translate}}</li>
	</ul>
	<div class="card">
		<div class="content">
			<div class="toolbar">
				<h4>{{'label.heading.adhoc.search.query.for.loans' | translate}}</h4>
				<div class="pull-right">
					<a class="btn btn-primary" ng-click="showResults=!showResults" ng-show="showResults"><i class="fa fa-plus "></i>
					</a>
				</div>
			</div>
			<api-validate></api-validate>
			<div class="row-fluid">
				    <div class="form-horizontal" ng-hide="showResults || showClientResults">
				        <div class="form-group">
				            <label  class="col-sm-2 control-label">{{'label.input.adhoc.search.loanstatus' | translate}}</label>
				            <div class="col-sm-4">
				                <input id="allloans" ng-model="formData.allloans" ng-true-value="'all'" type="checkbox">&nbsp;{{'label.all' | translate}}<br>
								<input id="activeloans" ng-model="formData.activeloans" ng-true-value="'active'" type="checkbox">&nbsp;{{'loanStatusType.active' | translate}}<br>
								<input id="overpaidloans" ng-model="formData.overpaidloans" ng-true-value="'overpaid'" type="checkbox">&nbsp;{{'loanStatusType.overpaid' | translate}}
				            </div>
				            <div class="col-sm-4">
				                <!--<input id="arrearloans" type="checkbox" ng-true-value="arrears" ng-model="formData.arrearloans" ng-disabled="true">&nbsp;{{'loanStatusType.witharrears' | translate}}<br>-->
									<input id="closedloans" ng-model="formData.closedloans" ng-true-value="'closed'" type="checkbox">&nbsp;{{'loanStatusType.closed.obligations.met' | translate}}<br>
									<input id="writeoffloans" ng-model="formData.writeoffloans" ng-true-value="'writeoff'" type="checkbox">&nbsp;{{'loanStatusType.closed.written.off' | translate}}
				            </div>
				        </div>
				        <div class="form-group">
				            <label  class="col-sm-2 control-label">{{'label.input.product' | translate}}</label>
				            <div class="col-sm-3">
				                <select class="form-control" multiple="" ng-model="formData.loanProducts">
									<option ng-repeat="product in searchTemplate.loanProducts" value="{{product.id}}">{{product.name}}</option>
								</select>
				            </div>
				            <label  class="col-sm-1 control-label">{{'label.office' | translate}}</label>
				            <div class="col-sm-3">
				                <select class="form-control" multiple="" ng-model="formData.offices">
									<option ng-repeat="office in searchTemplate.offices" value="{{office.id}}">{{office.name}}</option>
								</select>
				            </div>
				        </div>
				        <div class="form-group">
				            <label  class="col-sm-2 control-label">{{'label.input.date.filter' | translate}}</label>
				            <div class="col-sm-3">
				                <select class="form-control" id="loandatetype" ng-change="updateLoanDateType()" ng-model="formData.loandatetype">
									<option value=""> --{{ 'label.selectone' | translate }}--</option>
									<option value="approvalDate">{{ 'label.input.loan.approvaldate' | translate }}</option>
									<option value="createdDate">{{ 'label.input.loan.createdondate' | translate }}</option>
									<option value="disbursalDate">{{ 'label.input.loan.disbursaldate' | translate }}</option>
								</select>
				            </div>
				            <label  class="col-sm-1 control-label" ng-show="showDateFields">{{"label.input.between" | translate}}</label>
				            <div class="col-sm-4">
				                <div class="row">
				                    <div class="col-sm-4">
				                        <input class="input-small form-control" datepicker-pop="yyyy-MM-dd" is-open="opened" max="'2020-06-22'" min="minDate" ng-model="formData.loanfromdate" ng-show="showDateFields" placeholder="{{ 'label.input.fromdate' | translate }}" type="text">
				                    </div>
				                    <label  class="col-sm-1 control-label">{{"label.and" | translate}}</label>
				                    <div class="col-sm-4">
							            <input class="input-small form-control" datepicker-pop="yyyy-MM-dd" is-open="opened1" max="'2020-06-22'" min="minDate" ng-model="formData.loantodate" ng-show="showDateFields" placeholder="{{ 'label.input.todate' | translate }}" type="text">
							        </div>
							    </div>
				            </div>
				        </div>
				        <div class="form-group">
				            <div class="col-sm-2">
				                <label  class="col-sm-10 control-label">{{"label.input.adhoc.search.loanoutstanding.percentage" | translate}}</label>
				                <input class="pull-right" id="percentage" ng-model="formData.includeOutStandingAmountPercentage" type="checkbox">
				            </div>
				            <div class="col-sm-3" ng-show="formData.includeOutStandingAmountPercentage">
				                <select class="form-control" id="percentagetype" ng-change="updatePercentageType()" ng-model="formData.outStandingAmountPercentageCondition">
									<option value="between">{{"label.input.between" | translate}}</option>
									<option value="&lt;=">&lt;=</option>
									<option value="&gt;=">&gt;=</option>
									<option value="&lt;">&lt;</option>
									<option value="&gt;">&gt;</option>
									<option value="=">=</option>
								</select>
				            </div>
				            <label  class="col-sm-1 control-label" ng-show="formData.includeOutStandingAmountPercentage">{{formData.outStandingAmountPercentageCondition}}</label>
				            <div class="col-sm-4" ng-show="formData.includeOutStandingAmountPercentage">
				                <span class="col-sm-6" ng-hide="formData.outStandingAmountPercentageCondition == 'between'">
									<input class="input-small form-control" ng-model="formData.outStandingAmountPercentage" type="text">
								</span>
								
				                <div class="row" ng-show="formData.outStandingAmountPercentageCondition == 'between'">
				                    <div class="col-sm-4" >
				                        <input class="input-small form-control" ng-model="formData.minOutStandingAmountPercentage" type="text">
				                    </div>
				                    <label  class="col-sm-1 control-label">{{"label.and" | translate}}</label>
				                    <div class="col-sm-4">
							            <input class="input-small form-control" ng-model="formData.maxOutStandingAmountPercentage" type="text">
							        </div>
							    </div>
				            </div>
				        </div>
				        
				        <div class="form-group">
				            <div class="col-sm-2">
				                <label  class="col-sm-10 control-label">{{"label.outstanding.amount" | translate}}</label>
				                <input class="pull-right" id="outstandingamount" ng-model="formData.includeOutstandingAmount" type="checkbox">
				            </div>
				            <div class="col-sm-3" ng-show="formData.includeOutstandingAmount">
				                <select class="form-control" id="loandatetype" ng-change="updateOutstandingType()" ng-model="formData.outstandingAmountCondition" ng-show="formData.includeOutstandingAmount">
									<option value="between">{{"label.input.between" | translate}}</option>
									<option value="&lt;=">&lt;=</option>
									<option value="&gt;=">&gt;=</option>
									<option value="&lt;">&lt;</option>
									<option value="&gt;">&gt;</option>
									<option value="=">=</option>
								</select>
				            </div>
				            <label  class="col-sm-1 control-label" ng-show="formData.includeOutstandingAmount">{{formData.outstandingAmountCondition}}</label>
				            <div class="col-sm-4" ng-show="formData.includeOutstandingAmount">
				                <span class="col-sm-6" ng-hide="formData.outstandingAmountCondition == 'between'">
									<input class="input-small form-control" ng-model="formData.outstandingAmount" type="text">
								</span>
								
				                <div class="row" ng-show="formData.outstandingAmountCondition == 'between'">
				                    <div class="col-sm-4" >
				                        <input class="input-small form-control" ng-model="formData.minOutstandingAmount" type="text">
				                    </div>
				                    <label  class="col-sm-1 control-label">{{"label.and" | translate}}</label>
				                    <div class="col-sm-4">
							            <input class="input-small form-control" ng-model="formData.maxOutstandingAmount" type="text">
							        </div>
							    </div>
				            </div>
				        </div>
						<div class="col-md-offset-5">
							<button class="btn btn-primary" id="save" ng-click="submit()" type="submit">{{'label.button.summary' | translate}}</button>
						</div>
				    </div>
				    <div ng-show="showResults">
				        <input class="form-control marginbottom0px" ng-autofocus="true" ng-model="filterText" type="text">
				        <table class="table">
				            <thead>
				            <tr class="graybg">
				                <th>{{'label.heading.officeName' | translate}}</th>
				                <th>{{'label.heading.productname' | translate}}</th>
				                <th>{{'label.heading.count' | translate}}</th>
				                <th>{{'label.heading.loanoutstanding' | translate}}</th>
				                <th>{{'label.heading.percentage' | translate}}</th>
				            </tr>
				            </thead>
				            <tbody>
				            <tr class="pointer-main" ng-repeat="result in searchResults | filter:filterText">
				                <td class="pointer" ng-click="routeTo()">{{result.officeName}}</td>
				                <td class="pointer" ng-click="routeTo()">{{result.loanProductName}}</td>
				                <td class="pointer" ng-click="routeTo()">{{result.count}}</td>
				                <td class="pointer" ng-click="routeTo()">{{result.loanOutStanding}}</td>
				                <td class="pointer" ng-click="routeTo()">{{result.percentage}}</td>
				            </tr>
				            </tbody>
				        </table>
				    </div>

					<div ng-show="showClientResults">
						<input class="form-control marginbottom0px" ng-autofocus="true" ng-model="filterText" type="text">
						<div class="pull-right">
							<button class="btn btn-primary" ng-csv="csvData" type="button"><i class="fa fa-file "></i>{{'label.button.exportcsv'
								| translate }}
							</button>
						</div>
						<table class="table">
							<thead>
							<tr class="graybg">
								<th>{{'label.heading.client' | translate}}</th>
								<th>{{'label.heading.product' | translate}}</th>
								<th>{{'label.heading.disbursementdate' | translate}}</th>
								<th>{{'label.heading.disburseamount' | translate}}</th>
								<th>{{'label.heading.matureson' | translate}}</th>
								<th>{{'label.heading.principal.outstanding' | translate}}</th>
								<th>{{'label.heading.principal.repayment' | translate}}</th>
								<th>{{'label.heading.arrears' | translate}}</th>
								<th>{{'label.heading.interest.outstanding' | translate}}</th>
								<th>{{'label.heading.interest.paid' | translate}}</th>
							</tr>
							</thead>
							<tbody>
							<tr class="pointer-main" ng-repeat="result in clientResults | filter:filterText">
								<td class="pointer">{{result.clientAccountNo}} - {{result.clientName}}</td>
								<td class="pointer">{{result.loanProductId}} - {{result.loanProductName}}</td>
								<td class="pointer " >{{formatteddisbursedDate}}</td>
								<td class="pointer justifyright">{{result.disbursementAmount | number}}</td>
								<td class="pointer">{{formattedmaturedDate}}</td>
								<td class="pointer justifyright">{{result.principalOutstanding | number}}</td>
								<td class="pointer justifyright">{{result.principalRepaid | number}}</td>
								<td class="pointer justifyright">{{result.arrearsAmount | number}}</td>
								<td class="pointer justifyright">{{result.interestOutstanding | number}}</td>
								<td class="pointer justifyright">{{result.interestRepaid | number}}</td>
							</tr>
							<tr class="pointer-main">
								<td class="pointer"><strong>{{'label.heading.total' | translate}} : </strong></td>
								<td class="pointer"></td>
								<td class="pointer"></td>
								<td class="pointer justifyright">{{totaldisburementAmount | number}}</td>
								<td class="pointer"></td>
								<td class="pointer justifyright">{{totalPrincipalOutstanding | number}}</td>
								<td class="pointer justifyright">{{totalPrincipalRepaid | number}}</td>
								<td class="pointer">{{totalArrearsAmount | number}}</td>
								<td class="pointer justifyright">{{totalInterestOutstanding | number}}</td>
								<td class="pointer justifyright">{{totalInterestRepaid | number}}</td>
							</tr>
							</tbody>
						</table>
					</div>
			</div>
		</div>
	</div>
</div>