<div class="content-container" ng-controller="CreateStandingInstructionController">
        <ul class="breadcrumb">
            <li><a href="#/viewclient/{{standinginstruction.fromClient.id}}">{{standinginstruction.fromClient.displayName}}</a></li>
            <li class="active">{{'label.anchor.standinginstruction' | translate}}</li>
        </ul>
    <api-validate></api-validate>
    <div class="card">
        <div class="content">
                <form class="form-horizontal" name="standinginstructionform" novalidate="" rc-submit="submit()">
                    <fieldset>
                        <legend>{{ 'label.heading.createstandinginstruction' | translate }}</legend>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="name" >{{'label.heading.name' | translate}}<span
                                    class="required">*</span>
                                <i class="fa fa-question-circle" tooltip-append-to-body="true" uib-tooltip="{{'label.tooltip.csi.name' | translate}}"></i>
                            </label>

                            <div class="col-sm-3">
                                <input class="form-control" id="name" name="name" ng-model="formData.name" required type="text"/>
                            </div>
                            <div class="col-sm-3">
                                <form-validate valattribute="name" valattributeform="standinginstructionform"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="displayName">{{'label.heading.applicant' | translate}}
                                <i class="fa fa-question-circle" tooltip-append-to-body="true" uib-tooltip="{{'label.tooltip.csi.applicant' | translate}}"></i>
                            </label>
                            
                            <div class="col-sm-3" id="displayName">
                                <input class="form-control" disabled id="disabledInput" placeholder="{{standinginstruction.fromClient.displayName}}" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="transferType" >{{'label.heading.type' | translate}}<span
                                    class="required">*</span>
                                <i class="fa fa-question-circle" tooltip-append-to-body="true" uib-tooltip="{{'label.tooltip.csi.type' | translate}}"></i>
                            </label>

                            <div class="col-sm-3">
                                <select class="form-control" id="transferType" name="transferType"
                                    ng-change="changeEvent()" ng-model="formData.transferType" ng-options="transferType.id as transferType.value for transferType in standinginstruction.transferTypeOptions" required value="{{transferType.id}}">
                                    <option value="">{{'label.selectone' | translate}}</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <form-validate valattribute="transferType" valattributeform="standinginstructionform"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" control-label col-sm-2" for="priority" > {{'label.heading.priority' | translate}} <span class="required">*</span>
                                <i class="fa fa-question-circle" tooltip-append-to-body="true" uib-tooltip="{{'label.tooltip.csi.priority' | translate}}"></i>
                            </label>
                            

                            <div class="col-sm-3">
                               <select class="form-control" id="priority" name="priority"
                                    ng-model="formData.priority" ng-options="priority.id as priority.value for priority in standinginstruction.priorityOptions" required value="{{priority.id}}">
                                    <option value="">{{'label.selectone' | translate}}</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <form-validate valattribute="priority" valattributeform="standinginstructionform"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" control-label col-sm-2" for="status" >{{'label.heading.status' | translate}}<span
                                    class="required">*</span>
                                <i class="fa fa-question-circle" tooltip-append-to-body="true" uib-tooltip="{{'label.tooltip.csi.status' | translate}}"></i>  
                            </label>

                            <div class="col-sm-3">
                               <select class="form-control" id="status" name="status"
                                    ng-model="formData.status" ng-options="status.id as status.value for status in standinginstruction.statusOptions" required value="{{status.id}}">
                                    <option value="">{{'label.selectone' | translate}}</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <form-validate valattribute="status" valattributeform="standinginstructionform"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="fromAccountType" >{{ 'label.heading.fromaccounttype' | translate }}<span
                                    class="required">*</span>
                                <i class="fa fa-question-circle" tooltip-append-to-body="true" uib-tooltip="{{'label.tooltip.csi.fromAccountType' | translate}}"></i> 
                            </label>

                            <div class="col-sm-3">
                                <select class="form-control" id="fromAccountType" name="fromAccountType"
                                        ng-change="changeEvent()"
                                        ng-model="formData.fromAccountType" ng-options="fromAccountType.id as fromAccountType.value for fromAccountType in standinginstruction.fromAccountTypeOptions" required
                                        value="{{fromAccountType.id}}">
                                    <option value="">{{'label.selectone' | translate}}</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <form-validate valattribute="fromAccountType" valattributeform="standinginstructionform"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="fromAccountId" >{{ 'label.heading.fromaccount' | translate }}<span
                                    class="required">*</span>
                                <i class="fa fa-question-circle" tooltip-append-to-body="true" uib-tooltip="{{'label.tooltip.csi.fromAccount' | translate}}"></i> 
                            </label>

                            <div class="col-sm-3">
                                <select class="form-control" id="fromAccountId" name="fromAccount"
                                        ng-change="changeEvent()"
                                        ng-model="formData.fromAccountId" ng-options="fromAccount.id as (fromAccount.productName+' - '+fromAccount.accountNo) for fromAccount in standinginstruction.fromAccountOptions" required value="{{toAccount.id}}">
                                    <option value="">{{'label.selectone' | translate}}</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <form-validate valattribute="fromAccount" valattributeform="standinginstructionform"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="destination" >{{ 'label.heading.destination' | translate }}<span
                                    class="required">*</span>
                                <i class="fa fa-question-circle" tooltip-append-to-body="true" uib-tooltip="{{'label.tooltip.csi.destination' | translate}}"></i> 
                            </label>

                            <div class="col-sm-3">
                                <select class="form-control" id="destination" name="destination"
                                                ng-change="changedestination()"
                                                ng-model="destination" ng-options="destination.id as destination.name for destination in destinationOptions" required value="{{destination.id}}">
                                            <option value="">{{'label.selectone' | translate}}</option>
                                        </select>
                            </div>
                            <div class="col-sm-3">
                                <form-validate valattribute="destination"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="toOfficeId" >{{ 'label.input.tooffice' | translate }}<span
                                    class="required">*</span>
                                <i class="fa fa-question-circle" tooltip-append-to-body="true" uib-tooltip="{{'label.tooltip.csi.toOffice' | translate}}"></i>    
                            </label>

                            <div class="col-sm-3">
                                <div ng-show="allowclientedit">
                                    <select class="form-control" id="toOfficeId" name="toOfficeId"
                                            ng-change="changeEvent()"
                                            ng-model="formData.toOfficeId" ng-options="toOffice.id as toOffice.name for toOffice in standinginstruction.toOfficeOptions" required value="{{toOffice.id}}">
                                        <option value="">{{'label.selectone' | translate}}</option>
                                    </select>
                                </div>
                                <div data-ng-hide="allowclientedit">
                                    <label class="control-label">{{standinginstruction.toOffice.name}}</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <form-validate valattribute="office" valattributeform="standinginstructionform"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="toClientId" >{{ 'label.input.toclient' | translate }}<span
                                    class="required">*</span>
                                <i class="fa fa-question-circle" tooltip-append-to-body="true" uib-tooltip="{{'label.tooltip.csi.toClient' | translate}}"></i>    
                            </label>

                            <div class="col-sm-3">
                                <div ng-show="allowclientedit">
                                    <select class="form-control" id="toClientId" name="client"
                                            ng-change="changeEvent()"
                                            ng-model="formData.toClientId" ng-options="toClient.id as toClient.displayName for toClient in standinginstruction.toClientOptions" required value="{{toClient.id}}">
                                        <option value="">{{'label.selectone' | translate}}</option>
                                    </select>
                                </div>
                                <div data-ng-hide="allowclientedit">
                                    <label class="control-label">{{standinginstruction.toClient.displayName}}</label>
                                </div>
                                <div class="col-sm-3">
                                    <form-validate valattribute="client" valattributeform="standinginstructionform"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="toAccountType" >{{ 'label.input.toaccounttype' | translate }}<span
                                    class="required">*</span>
                                <i class="fa fa-question-circle" tooltip-append-to-body="true" uib-tooltip="{{'label.tooltip.csi.toaccountType' | translate}}"></i>   
                            </label>

                            <div class="col-sm-3">
                                <select class="form-control" id="toAccountType" name="account"
                                        ng-change="changeEvent()"
                                        ng-model="formData.toAccountType" ng-options="toAccountType.id as toAccountType.value for toAccountType in standinginstruction.toAccountTypeOptions" required
                                        value="{{toAccountType.id}}">
                                    <option value="">{{'label.selectone' | translate}}</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <form-validate valattribute="account" valattributeform="standinginstructionform"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="toAccountId" >{{ 'label.input.toaccount' | translate }}<span
                                    class="required">*</span>
                                <i class="fa fa-question-circle" tooltip-append-to-body="true" uib-tooltip="{{'label.tooltip.csi.toAccount' | translate}}"></i>   
                            </label>

                            <div class="col-sm-3">
                                <select class="form-control" id="toAccountId" name="accountnumber"
                                        ng-change="changeEvent()"
                                        ng-model="formData.toAccountId" ng-options="toAccount.id as (toAccount.productName+' - '+toAccount.accountNo) for toAccount in standinginstruction.toAccountOptions" required value="{{toAccount.id}}">
                                    <option value="">{{'label.selectone' | translate}}</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <form-validate valattribute="accountnumber" valattributeform="standinginstructionform"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="instructionType" >{{ 'label.input.instructiontype' | translate }}
                                <i class="fa fa-question-circle" tooltip-append-to-body="true" uib-tooltip="{{'label.tooltip.csi.standinginstructiontype' | translate}}"></i> 
                            </label>

                            <div class="col-sm-3">
                                <select class="form-control" id="instructionType" name="instructionType"
                                        ng-model="formData.instructionType"
                                        ng-options="instructionType.id as (instructionType.value) for instructionType in standinginstruction.instructionTypeOptions" required value="{{instructionType.id}}">
                                    <option value="">{{'label.selectone' | translate}}</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <form-validate valattribute="instructionType" valattributeform="standinginstructionform"/>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="transferAmount" >{{ 'label.input.amount' | translate }}
                                <i class="fa fa-question-circle" tooltip-append-to-body="true" uib-tooltip="{{'label.tooltip.csi.amount' | translate}}"></i>  
                            </label>
                            <div class="col-sm-3">
                                <input class="form-control" id="transferAmount" name="transferAmount" ng-model="formData.amount" number-format type="text"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="validFrom" >{{ 'label.heading.validfrom' | translate }}<span
                                    class="required">*</span>
                                <i class="fa fa-question-circle" tooltip-append-to-body="true" uib-tooltip="{{'label.tooltip.csi.validity-from-to' | translate}}"></i>    
                            </label>

                            <div class="col-sm-3">
                                <input class="form-control" datepicker-pop="dd MMMM yyyy" id="validFrom" is-open="opened"
                                       min="restrictDate" ng-model="formData.validFrom" type="text"/>
                            </div>
                             <label class="control-label col-sm-1" for="validTill">{{ 'label.heading.to' | translate }}</label>

                            <div class="col-sm-3">
                                <input class="form-control" datepicker-pop="dd MMMM yyyy" id="validTill" is-open="opened"
                                       min="restrictDate" ng-model="formData.validTill" type="text"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="recurrenceType" >{{ 'label.heading.recurrencetype' | translate }}<span
                                    class="required">*</span>
                                <i class="fa fa-question-circle" tooltip-append-to-body="true" uib-tooltip="{{'label.tooltip.csi.recurrence-type' | translate}}"></i> 
                            </label>
                            <div class="col-sm-3">
                                <select class="form-control" id="recurrenceType" name="recurrenceType"
                                        ng-model="formData.recurrenceType"
                                        ng-options="recurrenceType.id as (recurrenceType.value) for recurrenceType in standinginstruction.recurrenceTypeOptions" required value="{{recurrenceType.id}}">
                                    <option value="">{{'label.selectone' | translate}}</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <form-validate valattribute="recurrenceType" valattributeform="standinginstructionform"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="recurrenceInterval"  >{{ 'label.heading.recurrenceinterval' | translate }}
                                <i class="fa fa-question-circle" tooltip-placement="right" uib-tooltip="{{'label.tooltip.csi.interval' | translate}}"></i>    
                            </label>
                            <div class="col-sm-3">
                                <input class="form-control" id="recurrenceInterval" name="recurrenceInterval"
                                       ng-model="formData.recurrenceInterval" type="text"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="recurrenceFrequency" >{{ 'label.heading.recurrencefrequency' | translate }}
                                <i class="fa fa-question-circle" tooltip-append-to-body="true" uib-tooltip="{{'label.tooltip.csi.recurrence-frequency' | translate}}" ></i>   
                            </label>
                            <div class="col-sm-3">
                                <select class="form-control" id="recurrenceFrequency" name="recurrenceFrequency"
                                        ng-model="formData.recurrenceFrequency"
                                        ng-options="recurrenceFrequency.id as (recurrenceFrequency.value) for recurrenceFrequency in standinginstruction.recurrenceFrequencyOptions" value="{{recurrenceFrequency.id}}">
                                    <option value="">{{'label.selectone' | translate}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="recurrenceOnMonthDay" >{{ 'label.heading.recurrenceonmonthday' | translate }}
                                <i class="fa fa-question-circle" tooltip-append-to-body="true" uib-tooltip="{{'label.tooltip.csi.on-month-day' | translate}}"></i>    
                            </label>
                            <div class="col-sm-3">
                                <input class="form-control" datepicker-pop="dd MMMM" id="recurrenceOnMonthDay"
                                       is-open="opened" name="recurrenceOnMonthDay"
                                       ng-model="recurrenceOnMonthDay" type="text"/>

                            </div>
                        </div>
                        <div class="col-md-offset-3">
                            <a class="btn btn-default" href="#/viewclient/{{standinginstruction.fromClient.id}}" id="cancel">{{ 'label.button.cancel' | translate }}</a>
                            <button class="btn btn-primary" has-permission='CREATE_STANDINGINSTRUCTION' id="save" type="submit">{{ 'label.button.save' | translate }}</button>
                        </div>
                    </fieldset>
                </form>
        </div>
    </div>
</div>
