<div class="content-container">
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4>Accounting</h4>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="list-group">
                        <a class="list-group-item" has-permission='CREATE_JOURNALENTRY' href="#/freqposting">
                            <h4 class="list-group-item-heading"><i class="fa fa-repeat fa fa-large"></i>&nbsp;&nbsp;{{'label.heading.frequentpostings' | translate}}</h4>
                            <p class="list-group-item-text">{{'label.thesearepredefinedpostings' | translate}}</p>
                        </a>
                        <a class="list-group-item" has-permission='CREATE_JOURNALENTRY' href="#/journalentry">
                            <h4 class="list-group-item-heading"><i class="fa fa-plus fa fa-large"></i>&nbsp;&nbsp;{{'label.heading.addjournalentries' | translate}}</h4>
                            <p class="list-group-item-text">{{ 'label.manualjournalentrytransactionsrecordedinajournal' |  translate}}</p>
                        </a>
                        <a class="list-group-item" has-permission='READ_JOURNALENTRY' href="#/searchtransaction">
                            <h4 class="list-group-item-heading"><i class="fa fa-search fa fa-large"></i>&nbsp;&nbsp;{{
                                'label.heading.searchjournalentries' | translate}}</h4>

                            <p class="list-group-item-text">{{ 'label.advancesearchoptionforjournalentries' | translate}}</p>
                        </a>
                        <a class="list-group-item" has-permission='READ_FINANCIALACTIVITYACCOUNT' href="#/financialactivityaccountmappings">
                            <h4 class="list-group-item-heading"><i class="fa fa-random fa fa-large"></i>&nbsp;&nbsp;{{
                                'label.heading.financialactivity.accountmappings' | translate}}</h4>

                            <p class="list-group-item-text">{{ 'label.listof.financialactivity.accountmappings' | translate}}</p>
                        </a>
                        <a class="list-group-item" has-permission='READ_JOURNALENTRY' href="#/openingbalances">
                            <h4 class="list-group-item-heading"><i class="fa fa-dollar fa fa-large"></i>&nbsp;&nbsp;{{
                                'label.heading.define.openingbalances' | translate}}</h4>

                            <p class="list-group-item-text">{{ 'label.define.openingbalances' | translate}}</p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">        
                    <div class="list-group">
                    <a class="list-group-item" has-permission='READ_GLACCOUNT' href="#/accounting_coa">
                        <h4 class="list-group-item-heading"><i class="fa fa-large fa fa-sitemap"></i>&nbsp;&nbsp;{{
                            'label.heading.chartofaccounts' | translate}}</h4>

                        <p class="list-group-item-text">{{ 'label.listoftheaccountsusedbytheorganization' | translate}}</p>
                    </a>
                    <a class="list-group-item" has-permission='READ_GLCLOSURE' href="#/accounts_closure">
                        <h4 class="list-group-item-heading"><i class="fa fa-large fa fa-folder"></i>&nbsp;&nbsp;{{
                            'label.heading.closingentries' | translate}}</h4>

                        <p class="list-group-item-text">{{ 'label.journalentriesmadeattheendofanaccountingperiod' | translate}}</p>
                    </a>
                    <a class="list-group-item" has-permission='READ_ACCOUNTINGRULE' href="#/accounting_rules">
                        <h4 class="list-group-item-heading"><i class="fa fa-large fa fa-lock"></i>&nbsp;&nbsp;{{
                            'label.heading.accountingrules' | translate}}</h4>

                        <p class="list-group-item-text">{{ 'label.listsallaccountingrules' | translate}}</p>
                    </a>
                    <a class="list-group-item" has-permission='EXECUTE_PERIODICACCRUALACCOUNTING' href="#/run_periodic_accrual">
                        <h4 class="list-group-item-heading"><i class="fa fa-cog fa fa-large"></i>&nbsp;&nbsp;{{
                            'label.heading.execute.periodic.accounting' | translate}}</h4>

                        <p class="list-group-item-text">{{ 'label.execute.periodic.accounting' | translate}}</p>
                    </a>
                    <a class="list-group-item" has-permission='VIEW_PROVISIONING_ENTRIES' href="#/viewprovisioningentries">
                        <h4 class="list-group-item-heading"><i class="fa fa-cog fa fa-large"></i>&nbsp;&nbsp;{{
                            'label.heading.create.provisioning.entries' | translate}}</h4>

                        <p class="list-group-item-text">{{ 'label.create.provisioning.entries' | translate}}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>