<div class="content-container" ng-controller="EditUserController">
        <ul class="breadcrumb">
            <li><a href="#/users">{{'label.anchor.users' | translate}}</a></li>
            <li><a href="#/viewuser/{{userId}}">{{formData.firstname}}{{formData.lastname}}</a></li>
            <li class="active">{{'label.anchor.edituser' | translate}}</li>
        </ul>
    <form class="card form-horizontal well" name="edituserform" novalidate="" rc-submit="submit()">
        <api-validate></api-validate>
        <fieldset>
            <legend>{{'label.heading.edituser' | translate}}</legend>

            <div class="form-group">
                <label class="control-label col-sm-2" for="username">{{'label.input.username' | translate}}<span
                        class="required">*</span></label>

                <div class="col-sm-3">
                    <input class="form-control" id="username" late-Validate name="username" ng-model="formData.username" required
                           type="text"/>
                </div>
                <div class="col-sm-3">
                    <form-validate valattribute="username" valattributeform="edituserform"/>
                </div>    
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="firstname">{{'label.input.firstname' | translate}}<span
                        class="required">*</span></label>

                <div class="col-sm-3">
                    <input class="form-control" id="firstname" late-Validate name="firstname"
                           ng-model="formData.firstname" required type="text" value="{{user.firstname}}"/>
                </div>
                <div class="col-sm-3">
                    <form-validate valattribute="firstname" valattributeform="edituserform"/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="lastname">{{'label.input.lastname' | translate}}<span
                        class="required">*</span></label>

                <div class="col-sm-3">
                    <input class="form-control" id="lastname" late-Validate name="lastname"
                           ng-model="formData.lastname" required type="text" value="{{user.lastname}}"/>
                </div>
                <div class="col-sm-3">
                    <form-validate valattribute="lastname" valattributeform="edituserform"/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">{{'label.input.email' | translate}}<span
                        class="required">*</span></label>

                <div class="col-sm-3">
                    <input class="form-control" id="email" late-Validate name="email" ng-model="formData.email" required
                           type="email" value="{{user.email}}"/>
                </div>
                <div class="col-sm-3">
                    <form-validate valattribute="email" valattributeform="edituserform"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">{{'label.input.overridepasswordexpiry' | translate}}</label>

                <div class="col-sm-3">
                    <label class="checkbox">
                        <input ng-model="formData.passwordNeverExpires" type="checkbox">
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="officeId">{{'label.input.office' | translate}}<span
                        class="required">*</span></label>

                <div class="col-sm-3">
                    <select chosen="offices" class="form-control" data-ng-change="getOfficeStaff()" id="officeId" ng-model="formData.officeId"
                            ng-options="office.id as office.name for office in offices" value="{{office.id}}">
                        <option value="">--{{'label.menu.selectoffice' | translate}}--</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">{{'label.input.staff' | translate}}</label>

                <div class="col-sm-3">
                    <select chosen="staffs" class="form-control" id="staffId"  ng-model="formData.staffId"
                            ng-options="staff.id as staff.displayName for staff in staffs" value="{{staff.id}}">
                        <option value="">--{{'label.menu.selectstaff' | translate}}--</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-3 col-md-3 col-md-offset-1">
                    <label class="control-label col-sm-9">{{ 'label.input.availableroles' | translate }}</label>
                    <select class="form-control multiselectmin" id="availableroles" multiple name="availableroles" ng-model="available">
                        <option ng-repeat="availablerole in availableRoles" value="{{availablerole.id}}">
                            {{availablerole.name}}
                        </option>
                    </select>
                </div>
                <div class="col-sm-1 col-md-1 paddedtop25px">
                    <button class="btn btn-primary" data-ng-click="addRole()" type="button"><i
                            class="fa fa-angle-double-right"></i></button>
                    <br/>
                    <button class="btn btn-primary" data-ng-click="removeRole()" type="button"><i
                            class="fa fa-angle-double-left"></i></button>
                </div>
                <div class="col-sm-3 col-md-3">
                    <label class="control-label col-sm-9">{{ 'label.input.selectedroles' | translate}}</label>
                    <select class="form-control multiselectmin" id="roles" multiple name="role" ng-model="selected">
                        <option ng-repeat="availablerole in selectedRoles" value="{{availablerole.id}}">
                            {{availablerole.name}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="col-md-offset-3">
                <a href="#/viewuser/{{userId}}" id="cancel">
                    <button class="btn btn-default" type="reset">{{'label.button.cancel' | translate}}</button>
                </a>
                <button class="btn btn-primary" has-permission='UPDATE_USER' id="save" type="submit">{{'label.button.save' | translate}}</button>
            </div>
        </fieldset>
    </form>
</div>
