<div class="content-container">
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4>Products</h4>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="list-group">
                        <a class="list-group-item" has-permission='READ_LOANPRODUCT' href="#/loanproducts">
                            <h4 class="list-group-item-heading"><i class="fa fa-tags fa fa-large"></i>&nbsp;&nbsp;{{
                                'label.anchor.loanproducts' | translate }}</h4>

                            <p class="list-group-item-text">{{'label.addnewloanproductor' | translate}}</p>
                        </a>
                        <a class="list-group-item" has-permission='READ_SAVINGSPRODUCT' href="#/savingproducts">
                            <h4 class="list-group-item-heading"><i class="fa fa-large fa fa-briefcase"></i>&nbsp;&nbsp;{{
                                'label.anchor.savingproducts' | translate }}</h4>

                            <p class="list-group-item-text">{{'label.addnewsavingproductor' | translate}}</p>
                        </a>
                        <a class="list-group-item" has-permission='READ_SHAREPRODUCT' href="#/shareproducts">
                            <h4 class="list-group-item-heading"><i class="fa fa-large fa fa-briefcase"></i>&nbsp;&nbsp;{{
                                'label.anchor.shareproducts' | translate }}</h4>

                            <p class="list-group-item-text">{{'label.addnewshareproductor' | translate}}</p>
                        </a>

                        <a class="list-group-item" has-permission='READ_CHARGE' href="#/charges">
                            <h4 class="list-group-item-heading"><i class="fa fa-money fa fa-large"></i>&nbsp;&nbsp;{{
                                'label.anchor.charges' | translate }}</h4>

                            <p class="list-group-item-text">{{'label.definecharges' | translate}}</p>
                        </a>

                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="list-group">
                        <a class="list-group-item" has-permission='READ_PRODUCTMIX' href="#/productmix">
                            <h4 class="list-group-item-heading"><i class="fa fa-large fa fa-random"></i>&nbsp;&nbsp;{{
                                'label.anchor.productsmix' | translate }}</h4>

                            <p class="list-group-item-text">{{'label.definesrulesfortakingmul' | translate}}</p>
                        </a>
                        <a class="list-group-item" has-permission='READ_FIXEDDEPOSITPRODUCT' href="#/fixeddepositproducts">
                            <h4 class="list-group-item-heading">
                                <i class="fa fa-large fa fa-briefcase"></i>&nbsp;&nbsp;{{
                                'label.anchor.fixeddepositproducts' | translate }}</h4>

                            <p class="list-group-item-text">{{'label.fixeddepositproduct.def' | translate}}</p>
                        </a>
                        <a class="list-group-item" has-permission='READ_RECURRINGDEPOSITPRODUCT' href="#/recurringdepositproducts">
                            <h4 class="list-group-item-heading"><i class="fa fa-large fa fa-briefcase"></i>&nbsp;&nbsp;{{
                                'label.anchor.recurringdepositproducts' | translate }}</h4>

                            <p class="list-group-item-text">{{'label.recurringdepositproduct.def' | translate}}</p>
                        </a>
                        <a class="list-group-item" has-permission='READ_TAXGROUP' href="#/taxconfiguration">
                            <h4 class="list-group-item-heading"><i class="fa fa-cogs fa fa-large"></i>&nbsp;&nbsp;
                                {{'label.anchor.managetaxconfigurations' | translate}}</h4>

                            <p class="list-group-item-text">{{'label.view.taxconfiguration' |
                                translate}}</p>
                        </a>
                        <a class="list-group-item" has-permission='READ_FLOATINGRATE' href="#/floatingrates">
                            <h4 class="list-group-item-heading"><i class="fa fa-money fa fa-large"></i>&nbsp;&nbsp;{{
                                'label.anchor.floatingrates' | translate }}</h4>

                            <p class="list-group-item-text">{{'label.definefloatingrates' | translate}}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>